<!DOCTYPE html>
<html lang="en">
<!--Thanks for viewing my source code!-->

<!--Remember:
    We use the folder structure: personal/templates/personal/ to avoid
    a lot of head aches that can occur in Django. If you aren't 100% certain
    that all your template names are unique then the best way is to use this
    structure(its also the Django approved way).

    Ex. folder_name/templates/folder_name
        webapp/templates/webapp
        etc.
-->
<head>
	<title>The Amazing Ron Martin</title>
	<meta charset="utf-8" />
</head>

<body>
	<div>
	    <!--Jinja Logic-->
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>