{% extends "personal/header.html" %}

{# Note: In Jinja you can either extend or include other files.
   Generally, you extend pages that will be all over your website
   such as your Header or Footer. Whereas include is used in places
   where you get restricted by extending pages and for small snippets.
#}

{% block content %}
<p>Hey, welcome to my website! I am a programmer!</p>
<h3>Portfolio Ideas</h3>
<ul>
	<li>Design: Flat UI with retro pastel colors. Should look "techy" </li>
	<li>Show my personality/what makes me unique(IT skills, Linux, BattleStation/Custom PC, self employed history)</li>
	<li>Projects: A polished Github project w/ readme, multiple interesting projects, </li>
	<li>Member of Python San Diego meetup: do some talks and link them!</li>
	<li>Youtube videos(or start a blog)</li>
	<li>Book read (An all book reading list and Spotify plugin would be cool)</li>
</ul>
<p>Stay focused on Python Web development. After you get in the door, it is much easier to pivot if you want.</p>
<br>

<p>What makes me unique: self-learner/motivated(life story), personality and public speaking, various tech skills, Ultra-nerd: OWN IT! This is a huge strength, social/meetups, blog or youtube videos, and interesting github projects!</p>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}